
.arc {
    fill: none;
    stroke: red;
    stroke-width: 3px;
    stroke-linecap: round;
    stroke-dasharray: 2, 5;
    transition: stroke 2s, stroke-width 2s;
}

.arc.done {
    stroke: #000;
    stroke-width: 1px;
}

.country {
    fill: #ddd;
    stroke: #666;
    stroke-width: 1px;
}

.travel-label {
    font: Arial;
    font-size:11px;
    font-weight:bold;
    color:#666;
}

.travel-label-rect {
    fill: white;
}

.travel-label,
.travel-label-rect {
    animation-name: fade-in, fade-out;
    animation-duration:1s, 2s;
    animation-iteration-count:1, 1;
    animation-delay: 0s, 1s;
    animation-fill-mode: forwards;
    opacity:0;
}

@keyframes fade-in{
    0%{ opacity:0; }
    100%{ opacity:1; }
}
@keyframes fade-out{
    0%{ opacity:1; }
    100%{ opacity:0; }
}
